@charset 'utf-8';

.page_chat {
  overflow: hidden;
  display: flex;
  flex: 1;
  min-width: 0;
  background-color: #f1f5f9;
  .chatting_box {
    flex: 1;
    max-width: 1040px;
    min-width: 0;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .chat_detail {
    flex: 1;
  }
  .sidebar {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 0;
    height: calc(100vh - 64px);
    background-color: #316094;
    color: #fff;
    transition: max-width 0.4s;
    &.open {
      max-width: 450px;
    }
  }
}
